In [1]:
# conda activate mimic3-snonet
import pandas as pd

In [2]:
!conda install pip

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

In [4]:
! /home/am8520/opt/anaconda3/envs/mimic3-snonet/bin/pip install pandas numpy

Requirement already satisfied: pandas in /home/am8520/opt/anaconda3/envs/mimic3-snonet/lib/python3.9/site-packages (1.3.4)
Requirement already satisfied: numpy in /home/am8520/opt/anaconda3/envs/mimic3-snonet/lib/python3.9/site-packages (1.21.4)
Requirement already satisfied: pytz>=2017.3 in /home/am8520/opt/anaconda3/envs/mimic3-snonet/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/am8520/opt/anaconda3/envs/mimic3-snonet/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/am8520/opt/anaconda3/envs/mimic3-snonet/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [2]:
project_dir = '/home/am8520/GP/MIMIC-SNONET'
DIAGNOSES_ICD = pd.read_csv(f'{project_dir}/RAW/mimic-iii-clinical-database-1.4/DIAGNOSES_ICD.csv.gz')

In [3]:
DIAGNOSES_ICD.head()

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,174,01166,TB pneumonia-oth test,"Tuberculous pneumonia [any form], tubercle bac..."
1,175,01170,TB pneumothorax-unspec,"Tuberculous pneumothorax, unspecified"
2,176,01171,TB pneumothorax-no exam,"Tuberculous pneumothorax, bacteriological or h..."
3,177,01172,TB pneumothorx-exam unkn,"Tuberculous pneumothorax, bacteriological or h..."
4,178,01173,TB pneumothorax-micro dx,"Tuberculous pneumothorax, tubercle bacilli fou..."

In [28]:
dist_DIAGNOSES_ICD = DIAGNOSES_ICD.groupby(['SUBJECT_ID', 'ICD9_CODE'], as_index=False)

In [38]:
(DIAGNOSES_ICD.groupby(['SUBJECT_ID', 'ICD9_CODE']).size() 
   .sort_values(ascending=False) 
   .reset_index(name='count')[['ICD9_CODE', 'count']])

       ICD9_CODE  count
0           5363     41
1          41401     36
2           3371     35
3           7100     34
4           5856     29
...          ...    ...
586867     E9342      1
586868     E8798      1
586869     99939      1
586870     99592      1
586871      7861      1

[586872 rows x 2 columns]