In [1]:
%load_ext autoreload
%autoreload 2

import sys
from collections import OrderedDict

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

sys.path.append("../../..")

import lib.ehr.example_datasets.mimiciv as m4
import lib.ehr.example_datasets.mimiciv_aki as m4aki

In [2]:
# create a database connection
sqluser = 'postgres'
dbname = 'mimiciv'
hostname = 'localhost'
password = 'qwerasdf'
port = '5432'

mimiciv_config = m4.MIMICIVSQLTablesConfig(host=hostname, port=port, user=sqluser, password=password, dbname=dbname)
mimiciv_interface = m4.MIMICIVSQLTablesInterface(mimiciv_config)
mimiciv_engine = mimiciv_interface.create_engine()

In [3]:
mimiciv_scheme_conf = m4aki.AKIMIMICIVDatasetConfig(tables=mimiciv_config)
ds_scheme = m4aki.AKIMIMICIVDataset.load_dataset_scheme(mimiciv_scheme_conf)

In [4]:
obs_stat = mimiciv_interface.obs_stats(ds_scheme.obs)

  0%|          | 0/16 [00:00<?, ?it/s]

In [5]:
obs_stat.to_csv("obs_stat.csv")

In [6]:
obs_stat

,count,mean,std,min,25%,50%,75%,max,nunique,time_delta_count,time_delta_mean,time_delta_std,time_delta_min,time_delta_25%,time_delta_50%,time_delta_75%,time_delta_max
code,,,,,,,,,,,,,,,,,
blood_chemistry.albumin,275007.0,3.242115,0.674540,0.20,2.8,3.30,3.70,9.10,69.0,163589.0,48.362105,68.999988,0.000000,23.316667,24.166667,48.000000,3576.750000
blood_chemistry.aniongap,1854141.0,13.855734,3.529142,-23.00,12.0,13.00,16.00,91.00,78.0,1536374.0,20.209320,15.490632,0.000000,11.783333,23.000000,24.283333,2735.566667
blood_chemistry.bicarbonate,1858665.0,25.429376,4.482469,2.00,23.0,25.00,28.00,132.00,104.0,1540865.0,20.161290,15.469014,0.000000,11.750000,22.983333,24.266667,2735.566667
blood_chemistry.bun,1877174.0,25.870393,21.566396,1.00,12.0,19.00,32.00,291.00,266.0,1555063.0,20.115863,15.336250,0.000000,11.783333,22.916667,24.250000,2735.566667
blood_chemistry.calcium,1598455.0,8.619326,0.762194,0.10,8.2,8.60,9.10,132.00,226.0,1309939.0,21.234358,17.824985,0.000000,12.166667,23.183333,24.333333,1838.583333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
vital.sbp,6355873.0,119.553758,22.682498,0.10,103.0,117.00,134.00,365.00,751.0,6289672.0,1.037447,6.952282,0.016667,0.983333,1.000000,1.000000,8760.066667
vital.sbp_ni,4066974.0,119.702332,22.228976,0.10,104.0,117.00,134.00,365.00,267.0,4001414.0,1.498608,10.524615,0.016667,1.000000,1.000000,1.000000,8760.066667
vital.spo2,6323768.0,96.758290,3.348053,0.01,95.0,97.00,99.00,100.00,110.0,6257589.0,1.044932,7.809326,0.016667,1.000000,1.000000,1.000000,8760.066667
vital.temperature,1776877.0,36.958601,0.704987,15.00,36.6,36.89,37.28,43.11,724.0,1711031.0,3.688190,15.206970,0.016667,2.000000,4.000000,4.000000,8767.500000
weight.weight,544894.0,91.525099,2113.245445,0.50,70.4,84.10,100.30,1103030.00,1991.0,478720.0,14.274546,35.347755,0.000000,0.000000,1.000000,20.070903,3346.650278

In [5]:
mimiciv_interface.supported_dx_discharge

,icd_code,icd_version,description
0,0010,9,Cholera due to vibrio cholerae
1,0011,9,Cholera due to vibrio cholerae el tor
2,0019,9,"Cholera, unspecified"
3,0020,9,Typhoid fever
4,0021,9,Paratyphoid fever A
...,...,...,...
109770,Z992,10,Dependence on renal dialysis
109771,Z993,10,Dependence on wheelchair
109772,Z998,10,Dependence on other enabling machines and devices
109773,Z9981,10,Dependence on supplemental oxygen
109774,Z9989,10,Dependence on other enabling machines and devices

In [6]:
mimiciv_interface.supported_icu_inputs

     itemid                       description
0    220862                       Albumin 25%
1    220864                        Albumin 5%
2    220949                       Dextrose 5%
3    220950                      Dextrose 10%
4    220952                      Dextrose 50%
..      ...                               ...
319  229709         Angiotensin II (Giapreza)
320  229760            Epoprostenol (Veletri)
321  229764         Angiotensin II (Giapreza)
322  229781  Bivalirudin (Angiomax) (Impella)
323  229861                   Sodium Acetate.

[324 rows x 2 columns]

In [7]:
mimiciv_interface.supported_icu_procedures

     itemid                             description
0    229522  SEPS (Subdural Evacuating Port System)
1    229581                    Portable Chest X-Ray
2    229524                            Lumbar Drain
3    228715                    Transcranial Doppler
4    221214                                 CT scan
..      ...                                     ...
152  229575                     Travel to Radiology
153  225447            Percutaneous Drain Insertion
154  224272                               IABP line
155  225459                             Chest X-Ray
156  229577                     Cath Lab (Received)

[157 rows x 2 columns]

In [8]:
mimiciv_interface.supported_hosp_procedures

      icd_code  icd_version                                        description
0      0001               9  Therapeutic ultrasound of vessels of head and ...
1      0002               9                    Therapeutic ultrasound of heart
2      0003               9  Therapeutic ultrasound of peripheral vascular ...
3      0009               9                       Other therapeutic ultrasound
4      001               10  Central Nervous System and Cranial Nerves, Bypass
...        ...          ...                                                ...
85252  XW0DXV5           10  Introduction of Gilteritinib Antineoplastic in...
85253  XXE               10  New Technology, Physiological Systems, Measure...
85254  XXE5XM5           10  Measurement of Infection, Whole Blood Nucleic ...
85255  XY0               10       New Technology, Extracorporeal, Introduction
85256  XY0VX83           10  Extracorporeal Introduction of Endothelial Dam...

[85257 rows x 3 columns]

In [9]:
obs_scheme = mimiciv_interface.register_obs_scheme('aki_study_obs', None)

In [10]:
dx_scheme = mimiciv_interface.register_dx_discharge_scheme('aki_study_dx', None)

In [11]:

icu_input_scheme = mimiciv_interface.register_icu_input_scheme('aki_study_icu_input', None)

In [12]:

icu_procedure_scheme = mimiciv_interface.register_icu_procedure_scheme('aki_study_icu_proc', None)

In [13]:

hosp_procedure_scheme = mimiciv_interface.register_hosp_procedure_scheme('aki_study_hosp_proc', None)

## Preprocessing

Preparation into Dataset:

- Inputs:
    - selection of race (optional).
    - selection of dx_codes (optional).
    - selection of icu_proc codes (optional).
    - selection of icu_inputs codes (optional).
    - selection of hosp_proc codes (optional).
    - selection of subjects from a function indicating an aki availability.
    - icu_input unit-of-measurement conversion table.
- Pipeline:
    - Set Indices.
    - Select subjects with at least one aki measurement (synchronize all).
    - Cast Datetime.
    - Merge overlapping admissions (remap hadm_id in all).
    - Remove subjects having admissions with negative intervals (ensure the negative interval is handled correctly when merging overlaps.).
    - Filter timestamped measurement outside the admittime/dischtime.
    - Filter interventional intervals entirely outside admittime/dischtime.
    - Clip overlapping interventional intervals to admittime/dischtime.
    - Filter unsupported codes.
    - Unit-normalize amount_per_hour.
    - Remove subjects with invalid input rates.
    - Replace Alphaneumeric Codes with Integer Indices.
    - Replace timestamps with relative times from admission time.

- Output: MIMICIVDataset (7 data tables + 7 scheme objects).
    - `static_df` + (race_scheme, gender_scheme) 
    - `adm_df`
    - `dx_df` + (dx_scheme: MixedICDScheme)
    - `obs_df` + (obs_scheme: MIMICObsScheme)
    - `icu_proc_df` + (icu_proc_scheme: ItemBasedScheme)
    - `icu_input_df` + (icu_input_scheme: ItemBasedScheme)
    - `hosp_proc_df` + (hocp_proc_scheme: MixedICDScheme)
 

Preparation into DynSys interface:

- Inputs:
    - Dataset
    - target::race_scheme, target::gender_scheme
    - target::proc_scheme (groups `icu_proc_df` + `hosp_proc_df` into `proc_df`).
    - target::input (group-aggregates `icu_input_df` items)
    - target::dx_scheme
    - outcome_extractor
    - leading_config
    - aggregation configuration:
        - conditional aggregation measurements with small timescales, e.g.  quantile75(dt) < 1-hour
        - hard aggregation, fixed time_bin interval.
    - splits
    - config outlier removal + rescaling.
- Pipeline:
    - Sample Subjects.
    - Outlier removal and rescaling.
    - Vectorize:
        - dx
        - dx_history
        - obs
        - input
        - proc
    - observations conditional aggregation OR hard aggregation.
    - Vectorize:
        - lead (extracted after aggregation of obs)
    - Exclude admissions with less than 12 hours stay (it comes after vectorize so dx_history do not miss preceding admissions).
- Output: DynEHRSystem (original dataset + VecPatients + 5 target_schemes + outcome_extractor + leaf_config)

### Interventions

### `hospicdproc` + `icuproc` Further filteration and grouper

In [ ]:
df = hospicdproc_df.merge(adm_df, on='hadm_id', how='left')

# timeperc_within_stay = (df['start_time'] - df['admittime']).dt.total_seconds() /(df['dischtime'] - df['admittime']).dt.total_seconds()
# timeperc_within_stay.plot.kde()

In [ ]:
icd_n_subjects = df.groupby(['icd_code', 'long_title', 'icd_version'], as_index=False).agg(
    n_subjects=('subject_id', 'nunique'))
icd_n_subjects['p_subjects'] = icd_n_subjects['n_subjects'] / len(subject_id_with_renal_info)
# icd_n_subjects['p_subjects'].plot.kde()

### 'icuproc` refinement

#### Standard Procedure Table

### `input` filteration and refinement

#### Normalise rates of different units for the same input item

In [ ]:
rate_scaler = dict(zip(map(lambda c1, c2: f'{c1}-{c2}', int_grouper_input_df.label, int_grouper_input_df.amountuom),
                       int_grouper_input_df.rate_normaliser))

input_df['label-uom'] = list(map(lambda c1, c2: f'{c1}-{c2}', input_df.label, input_df.amountuom))
input_df['normalised_amount_per_hour'] = input_df['amount_per_hour'] * input_df['label-uom'].map(rate_scaler)

In [ ]:
input_df = input_df[['hadm_id', 'start_time', 'end_time', 'label', 'normalised_amount_per_hour']]

In [ ]:
input_df.to_csv('int_input.csv.gz', compression='gzip')

In [ ]:
input_df

## Dx Codes Filteration

In [ ]:
def filter_discharge_codes(df, subject_id_selection=None):
    n = OrderedDict()
    n['n0'] = len(df)

    cols = df.columns

    # (1) Filter discharge codes if subject has a single admission.
    n_adms = df.groupby('subject_id', as_index=False).agg(n_adms=('hadm_id', 'nunique'))
    n_adms_subjects = set(n_adms[n_adms['n_adms'] > 1].subject_id)
    df = df[df.subject_id.isin(n_adms_subjects)]

    n['n adm. > 1 filter'] = len(df)

    # (2) Filter discharge dx codes based on subject_id selection
    if subject_id_selection is not None:
        df = df[df.subject_id.isin(subject_id_selection)]

    n['n subj. filter'] = len(df)

    print('\n'.join(f'{filt}: {num} ({100 * num / n["n0"]:.1f})' for filt, num in n.items()))
    print('\n========\n')
    return df

In [ ]:
dx_query = f"""
SELECT
    hadm_id, subject_id, icd_code, icd_version
FROM mimiciv_hosp.diagnoses_icd 
"""
dx_df = pd.read_sql_query(dx_query, con)

In [ ]:
dx_df = filter_discharge_codes(dx_df, subject_id_selection=subject_id_with_renal_info)

## Admissions & Static Tables

In [ ]:
def filter_admissions(df, subject_id_selection=None):
    n = OrderedDict()
    n['n0'] = len(df)

    cols = df.columns

    # (1) Filter discharge dx codes based on subject_id selection
    if subject_id_selection is not None:
        df = df[df.subject_id.isin(subject_id_selection)]

    n['n subj. filter'] = len(df)

    print('\n'.join(f'{filt}: {num} ({100 * num / n["n0"]:.1f})' for filt, num in n.items()))
    print('\n========\n')
    return df

In [ ]:
adm_df = filter_admissions(adm_df, subject_id_selection=subject_id_with_renal_info)
static_df = filter_admissions(static_df, subject_id_selection=subject_id_with_renal_info)

In [ ]:
adm_df.to_csv('adm_df.csv.gz', compression='gzip')
static_df.to_csv('static_df.csv.gz', compression='gzip')

In [ ]:

# static_df.groupby('race', as_index=False).agg(n=('subject_id', 'count')).to_csv('race_groups.csv', compression='gzip')
race_groups_df = pd.read_csv('race_grouper.csv', index_col=0)

In [ ]:
race_groups_df.to_csv('mimic4_race_grouper.csv.gz', compression='gzip')

In [ ]:
import seaborn as sns
import sys

sys.path.append("../../..")

from lib.ehr.coding_scheme import MIMIC4Observables

C = MIMIC4Observables()

z_min = -2.5
z_max = -z_min
q_min = 0.1
q_max = 1 - q_min

for code in sorted(m4inpatient_dataset.df['obs'].code.unique()):
    df = m4inpatient_dataset.df['obs']
    code_df = df[df.code == code]

    q1 = code_df.value.quantile(q_min)
    q2 = code_df.value.quantile(q_max)
    qin_mask = code_df.value.between(q1, q2)

    mu = code_df.value.mean()
    std = code_df.value.std()
    code_df['z'] = (code_df.value - mu) / std
    x1 = mu + z_min * std
    x2 = mu + z_max * std

    zin_mask = code_df.z.between(z_min, z_max)

    textstr = '\n'.join((
        f'n={len(code_df)}',
        f'(min, max): ({code_df.value.min():0.2f}, {code_df.value.max():0.2f})',
        f'p(qin): {qin_mask.mean():0.3f}',
        f'p(zin): {zin_mask.mean():0.3f}',
        f'p(zin or qin): {(qin_mask | zin_mask).mean(): 0.3f}'))
    props = dict(boxstyle='round', facecolor='wheat', alpha=0.5)

    g = sns.displot(code_df, x="value", kde=True)

    for ax in g.axes.flat:
        args = zip([x1, x2, q1, q2],
                   ["solid", "solid", "dashed", "dashed"],
                   ["red", "red", "red", "red"])
        ax.set_title(C.desc[code])
        # place a text box in upper left in axes coords
        ax.text(0.05, 0.95, textstr, transform=ax.transAxes, fontsize=10,
                verticalalignment='top', bbox=props)
        for x, style, color in args:
            ax.axvline(x=x, ymin=0, ymax=1.0, linestyle=style, color=color)
    g.savefig(f"obs_outlier__{code}_{C.desc[code]}.pdf", bbox_inches='tight')