In [1]:
from collections import OrderedDict

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
# !pip install tableone
from tableone import TableOne
# !pip install psycopg2-binary
import psycopg2

In [2]:
# create a database connection
sqluser = 'asem'
dbname = 'mimiciv'
hostname = 'localhost'
password='qwerasdf'
hosp_schema_name = 'mimiciv_hosp'

# Connect to local postgres version of mimic
con = psycopg2.connect(dbname=dbname, user=sqluser, host=hostname, password=password)

In [30]:
query = \
"""
SELECT
      pat.subject_id
    , adm.hadm_id
    , DENSE_RANK() OVER hadm_window AS hosp_stay_num
    , CASE
        WHEN FIRST_VALUE(adm.hadm_id) OVER hadm_window = adm.hadm_id THEN 1
        ELSE 0
      END AS pat_count
    , pat.anchor_age + (EXTRACT(YEAR FROM adm.admittime) - pat.anchor_year) AS age
    , pat.gender
    , adm.insurance
    , mimiciv_derived.DATETIME_DIFF(adm.dischtime, adm.admittime, 'HOUR') / 24 AS hosp_los
    , pat.dod
    , mimiciv_derived.DATETIME_DIFF(pat.dod, CAST(adm.dischtime AS DATE), 'DAY') AS days_to_death
    -- mortality flags
    , CASE WHEN mimiciv_derived.DATETIME_DIFF(pat.dod, CAST(adm.dischtime AS DATE), 'DAY') = 0 THEN 1 ELSE 0 END AS hospital_mortality
FROM mimiciv_hosp.patients pat
INNER JOIN mimiciv_hosp.admissions adm
    ON pat.subject_id = adm.subject_id
WINDOW hadm_window AS (PARTITION BY pat.subject_id ORDER BY adm.admittime)
"""

hosp = pd.read_sql_query(query,con)

In [31]:

# add 1 year mortality
hosp['one_year_mortality'] = hosp['days_to_death'].notnull().astype(int)

# create a dataframe with the days to death for only the last ICU stay
last_dod = hosp.groupby('subject_id')[['hosp_stay_num']].max().reset_index()
last_dod = last_dod.merge(hosp[['subject_id', 'hosp_stay_num', 'days_to_death']], on=['subject_id', 'hosp_stay_num'], how='inner')
last_dod.rename(columns={'days_to_death': 'days_to_death_last_stay_id'}, inplace=True)

hosp = hosp.merge(last_dod, how='left', on=['subject_id', 'hosp_stay_num'])
del last_dod
hosp.sort_values(['subject_id', 'hosp_stay_num'], inplace=True)

# fix some data type issues
int_cols = hosp.dtypes.values=="Int64"
hosp.loc[:, int_cols] = hosp.loc[:, int_cols].astype(float)
hosp.loc[:, int_cols] = hosp.loc[:, int_cols].astype(int, errors="ignore")

In [33]:
query = \
"""
SELECT
      pat.subject_id
    , adm.hadm_id
    , icu.stay_id
    , ROW_NUMBER() OVER (PARTITION BY pat.subject_id ORDER BY icu.intime) AS icu_stay_num
    , DENSE_RANK() OVER (PARTITION BY pat.subject_id ORDER BY adm.admittime) AS hosp_stay_num
    , CASE
        WHEN FIRST_VALUE(icu.stay_id) OVER icustay_window = icu.stay_id THEN 1
        ELSE 0
      END AS pat_count
    , pat.anchor_age + (EXTRACT(YEAR FROM icu.intime) - pat.anchor_year) AS age
    , pat.gender
    , adm.insurance
    , icu.first_careunit
    , icu.los AS icu_los
    , mimiciv_derived.DATETIME_DIFF(adm.dischtime, adm.admittime, 'HOUR') / 24 AS hosp_los
    , pat.dod
    , mimiciv_derived.DATETIME_DIFF(pat.dod, CAST(adm.dischtime AS DATE), 'DAY') AS days_to_death
    -- mortality flags
    , CASE WHEN mimiciv_derived.DATETIME_DIFF(pat.dod, CAST(adm.dischtime AS DATE), 'DAY') = 0 THEN 1 ELSE 0 END AS hospital_mortality
    , CASE WHEN mimiciv_derived.DATETIME_DIFF(pat.dod, CAST(icu.outtime AS DATE), 'DAY') = 0 THEN 1 ELSE 0 END AS icu_mortality
FROM mimiciv_hosp.patients pat
INNER JOIN mimiciv_hosp.admissions adm
    ON pat.subject_id = adm.subject_id
INNER JOIN mimiciv_icu.icustays icu
    ON adm.hadm_id = icu.hadm_id
WINDOW hadm_window AS (PARTITION BY pat.subject_id ORDER BY adm.admittime)
     , icustay_window AS (PARTITION BY pat.subject_id ORDER BY icu.intime)
"""

data = pd.read_sql_query(query,con)

In [34]:
# add 1 year mortality
data['one_year_mortality'] = data['days_to_death'].notnull().astype(int)

# create a dataframe with the days to death for only the last ICU stay
last_dod = data.groupby('subject_id')[['icu_stay_num']].max().reset_index()
last_dod = last_dod.merge(data[['subject_id', 'icu_stay_num', 'days_to_death']], on=['subject_id', 'icu_stay_num'], how='inner')
last_dod.rename(columns={'days_to_death': 'days_to_death_last_stay_id'}, inplace=True)

data = data.merge(last_dod, how='left', on=['subject_id', 'icu_stay_num'])
del last_dod
data.sort_values(['subject_id', 'icu_stay_num'], inplace=True)

# add a grouping variable for table one so we can have hospital mortality as a group and a row
data['hosp_mort'] = data['hospital_mortality']

# fix some data type issues
int_cols = data.dtypes.values=="Int64"
data.loc[:, int_cols] = data.loc[:, int_cols].astype(float)
data.loc[:, int_cols] = data.loc[:, int_cols].astype(int, errors="ignore")

In [35]:


columns = [
    "pat_count",
    # , "hadm_count",
    "age", "gender", "insurance",
    # "first_careunit",
    # "icu_los",
    "hosp_los",
    # 'icu_mortality',
    'hospital_mortality',
    "one_year_mortality",
    # "days_to_death_last_stay_id"
]

categorical = [
    "pat_count",
    # "hadm_count",
    "gender", "insurance",
    # "first_careunit",
    # mortality flags
    # 'icu_mortality',
    'hospital_mortality',
    'one_year_mortality',
]

order = {
    "pat_count": [1, 0],
    "hadm_count": [1, 0],
    "gender": ["F", "M"],
    # "icu_mortality": [1, 0],
    "hospital_mortality": [1, 0],
    "one_year_mortality": [1, 0],
}

limit = {
    "pat_count": 1, "hadm_count": 1,
    "gender": 1,
    # "icu_mortality": 1,
    "hospital_mortality": 1,
    "one_year_mortality": 1,
}

rename = {
    "pat_count": "Distinct patients", "hadm_count": "Distinct hospitalizations",
    "age": "Age", "gender": "Administrative Gender", "insurance": "Insurance",
    "first_careunit": "First ICU stay, unit type",
    "icu_los": "ICU length of stay", "hosp_los": "Hospital length of stay",
    "icu_mortality": "In-ICU mortality",
    "hospital_mortality": "In-hospital mortality",
    "one_year_mortality": "One year mortality",
    # "days_to_death_last_stay_id": "Time to death (days)",
}

print('ICU demographics')
icu_table = TableOne(data, columns=columns, categorical=categorical, order=order, limit=limit, rename=rename)
display(icu_table)
print('Hospital demographics')
hosp_table = TableOne(hosp, columns=columns, categorical=categorical, order=order, limit=limit, rename=rename)
display(hosp_table)

ICU demographics

/home/asem/GP/env/icenode-dev/lib/python3.8/site-packages/tableone/tableone.py:1433: UserWarning: Order variable not found: hadm_count
  warnings.warn("Order variable not found: {}".format(k))

                                            Missing       Overall
n                                                           73181
Distinct patients, n (%)           1              0  50920 (69.6)
Age, mean (SD)                                    0   64.7 (16.9)
Administrative Gender, n (%)       F              0  32363 (44.2)
Insurance, n (%)                   Medicaid       0    5528 (7.6)
                                   Medicare          33091 (45.2)
                                   Other             34562 (47.2)
Hospital length of stay, mean (SD)                0   11.0 (13.3)
In-hospital mortality, n (%)       1              0   8511 (11.6)
One year mortality, n (%)          1              0  28274 (38.6)

Hospital demographics

/home/asem/GP/env/icenode-dev/lib/python3.8/site-packages/tableone/tableone.py:1433: UserWarning: Order variable not found: hadm_count
  warnings.warn("Order variable not found: {}".format(k))

                                            Missing        Overall
n                                                           431231
Distinct patients, n (%)           1              0  180733 (41.9)
Age, mean (SD)                                    0    58.8 (19.2)
Administrative Gender, n (%)       F              0  224990 (52.2)
Insurance, n (%)                   Medicaid       0    41330 (9.6)
                                   Medicare          160560 (37.2)
                                   Other             229341 (53.2)
Hospital length of stay, mean (SD)                0      4.5 (6.6)
In-hospital mortality, n (%)       1              0     8869 (2.1)
One year mortality, n (%)          1              0  106218 (24.6)

In [3]:
## Inputs - Canonicalise

input_query = \
"""
SELECT
    a.hadm_id
    , mimiciv_derived.DATETIME_DIFF(inp.starttime, a.admittime, 'MINUTE') AS start_offset
    , mimiciv_derived.DATETIME_DIFF(inp.endtime, a.admittime, 'MINUTE') AS end_offset
    , di.label
    , inp.rate
    , inp.amount
FROM mimiciv_hosp.admissions a
INNER JOIN mimiciv_icu.icustays i
    ON a.hadm_id = i.hadm_id
LEFT JOIN mimiciv_icu.inputevents inp
    ON i.stay_id = inp.stay_id
LEFT JOIN mimiciv_icu.d_items di
    ON inp.itemid = di.itemid
"""

In [4]:
input_df = pd.read_sql_query(input_query,con)

In [8]:
input_df.columns

Index(['hadm_id', 'start_offset', 'end_offset', 'label', 'rate', 'amount'], dtype='object')

In [9]:
## Procedures - Canonicalise and Refine
icuproc_query = \
"""
SELECT
    a.hadm_id
    , mimiciv_derived.DATETIME_DIFF(pe.starttime, a.admittime, 'MINUTE') AS start_offset
    , mimiciv_derived.DATETIME_DIFF(pe.endtime, a.admittime, 'MINUTE') AS end_offset
    , di.label
    , pe.value
FROM mimiciv_hosp.admissions a
INNER JOIN mimiciv_icu.icustays i
    ON a.hadm_id = i.hadm_id
LEFT JOIN mimiciv_icu.procedureevents pe
    ON i.stay_id = pe.stay_id
LEFT JOIN mimiciv_icu.d_items di
    ON pe.itemid = di.itemid
"""

hospicdproc_query = \
"""
select pi.hadm_id
, mimiciv_derived.DATETIME_DIFF(pi.chartdate, a.admittime, 'DAY') AS offset_days
, pi.icd_code
, pi.icd_version
, di.long_title
FROM mimiciv_hosp.procedures_icd pi
INNER JOIN mimiciv_hosp.d_icd_procedures di
  ON pi.icd_version = di.icd_version
  AND pi.icd_code = di.icd_code
INNER JOIN mimiciv_hosp.admissions a
  ON pi.hadm_id = a.hadm_id
"""


# === provider order entry (poe) <----- very messy, high irrelevance, ignore

poe_query = f"""
SELECT
    a.hadm_id
    , mimiciv_derived.DATETIME_DIFF(p.ordertime, a.admittime, 'DAY') AS offset
    , p.poe_id
    , p.order_type, p.order_subtype
    , p.transaction_type
    , pd.field_name
    , pd.field_value
FROM mimiciv_hosp.admissions a
INNER JOIN mimiciv_hosp.poe p
    ON a.hadm_id = p.hadm_id
LEFT JOIN  mimiciv_hosp.poe_detail pd
    ON p.poe_id = pd.poe_id
"""

In [10]:
icuproc_df = pd.read_sql_query(icuproc_query,con)

In [11]:
hospicdproc_df = pd.read_sql_query(hospicdproc_query,con)

In [12]:
# poe_df = pd.read_sql_query(poe_query,con)

In [13]:
icuproc_df

         hadm_id  start_offset  end_offset                     label  value
0       29079034         128.0       129.0                Nasal Swab    1.0
1       29079034         109.0       675.0                  20 Gauge  566.0
2       29079034         109.0       675.0                  18 Gauge  566.0
3       26913865          83.0       780.0  Non-invasive Ventilation  697.0
4       26913865          97.0       780.0                  18 Gauge  683.0
...          ...           ...         ...                       ...    ...
696557  25825366           NaN         NaN                      None    NaN
696558  27351982           NaN         NaN                      None    NaN
696559  22282155           NaN         NaN                      None    NaN
696560  20856206           NaN         NaN                      None    NaN
696561  25367629           NaN         NaN                      None    NaN

[696562 rows x 5 columns]

In [22]:
icuproc_df.label.unique()

array(['Nasal Swab', '20 Gauge', '18 Gauge', 'Non-invasive Ventilation',
       'Family updated by RN', '22 Gauge', 'CT scan', 'PICC Line',
       'Extubation', 'Family updated by MD', 'Blood Cultured',
       'Urine Culture', 'Intubation', 'Invasive Ventilation', 'EKG',
       'Temporary Pacemaker Wires Inserted', 'EEG', 'Intraosseous Device',
       'Cordis/Introducer', 'Multi Lumen', 'Chest X-Ray', 'Arterial Line',
       'PA Catheter', 'Sheath (Venous)', 'Transthoracic Echo', '16 Gauge',
       'Foley Catheter', 'Magnetic Resonance Imaging', 'OR Sent', 'X-ray',
       'Midline', 'Pan Culture', 'IABP line', 'OR Received',
       'Trauma line', 'Ultrasound', 'Indwelling Port (PortaCath)',
       'Dialysis Catheter', 'Sputum Culture', 'ERCP (Travel to)',
       'Dialysis - CRRT', 'Abdominal X-Ray', 'Nuclear Medicine',
       'Interventional Radiology', 'Trans Esophageal Echo', 'Endoscopy',
       'Stool Culture', 'Angiography', 'Bronchoscopy',
       'Epidural Placement', 'Family met with Social Worker',
       'Percutaneous Tracheostomy', 'PEG Insertion', 'BAL Fluid Culture',
       'Chest Tube Removed',
       'Unplanned Line/Catheter Removal (Patient Initiated)',
       'Temporary Pacemaker Wires Discontinued', 'CCO PAC',
       'Portable Chest X-Ray', 'Line Placement at Bedside', 'AVA',
       '14 Gauge', 'Cardioversion/Defibrillation', 'Radiation Therapy',
       'Thoracentesis', 'Blakemore / MinnesotaTube Inserted',
       'Hemodialysis', 'Cardiac Cath', 'Paracentesis',
       'Family meeting held', 'Chest Tube Placed', 'Single Lumen',
       'Impella Line', 'Cath Lab (Received)', 'Indwelling Port',
       'Unplanned Extubation (patient-initiated)', 'Wound Culture',
       'Percutaneous Drain Insertion', 'Transcranial Doppler',
       'Rectal Swab', 'MAC', 'Sheath (Arterial)', 'EEG (Continuous)',
       'NEOB notified', 'Intraventricular Drain Inserted', 'ICP Catheter',
       'Nursing Water Swallow Screening', 'Pheresis Catheter',
       'Plasma Pheresis.', 'Colonoscopy', 'Family notified of transfer',
       'Pericardial Drain Removed', 'CRRT Filter Change',
       'Presep Catheter', 'EKOS', 'Fluoroscopy', 'VAC Change',
       'C-Spine Clearance', 'Speech and Swallow Evaluation',
       'Small Bore Nasal Enteral Tube Placement', 'Tunneled Access Line',
       'Lumbar Puncture', 'RIC', 'EMG', 'Travel to Radiology',
       'Triple Introducer', 'Chest Pain', '24 Gauge', 'Liver Biopsy',
       'Portable CT scan', 'Cardiac Arrest', 'Pelvis',
       'Tunneled (Hickman) Line', 'Cervical Spine', 'TLS Spine',
       'Esophogeal Balloon', 'Epoprostenol (Inhaled)', 'Cath Lab (Sent)',
       'Chest Opened', 'Transfer Intercampus by Ambulance',
       'Peritoneal Dialysis',
       'Unplanned Line/Catheter Removal (Non-Patient initated)',
       'Venogram', 'Drain Removed', 'CSF Culture',
       'Surgical Procedure at Bedside', 'Transferred to Floor',
       'Open Tracheostomy', 'Family met with Case Manager',
       'Lumbar Drain', 'ICP Bolt Inserted', 'EVD #1', 'TLS Clearance',
       'EVD #2', 'Pericardiocentesis', 'Trigger Initiated', 'Fall',
       'Massive Transfusion', 'Brain Death',
       'Unplanned Extubation (non-patient initiated)',
       'Family meeting attempted, unable', 'Subdural Drain',
       'Tandem Heart Inflow Line', 'Respiratory Arrest',
       'ECMO Outflow Line', 'ECMO Inflow Line',
       'Tandem Heart Outflow Line', 'ICP - Camino', 'ERCP (Done in unit)',
       'Pneumothorax', 'Blakemore / Minnesota Tube D/C',
       'Multi Lumen Cooling Catheter', 'ICP - PbtO2', 'Avalon/Protek Duo',
       'Centrimag Inflow Line', 'Centrimag Outflow Line',
       'SEPS (Subdural Evacuating Port System)', None], dtype=object)

In [14]:
hospicdproc_df

,hadm_id,offset_days,icd_code,icd_version,long_title
0,28979390,0.562500,5551,9,Nephroureterectomy
1,26913865,2.681944,3722,9,Left heart cardiac catheterization
2,26913865,2.681944,8856,9,Coronary arteriography using two catheters
3,26913865,2.681944,0044,9,Procedure on vessel bifurcation
4,24016413,-0.302083,8669,9,Other skin graft to other sites
...,...,...,...,...,...
669181,24819607,-0.542361,3607,9,Insertion of drug-eluting coronary artery sten...
669182,24819607,-0.542361,0040,9,Procedure on single vessel
669183,24819607,-0.542361,0045,9,Insertion of one vascular stent
669184,21418871,-0.302083,0153,9,Lobectomy of brain
669185,29734428,8.317361,0HBHXZZ,10,"Excision of Right Upper Leg Skin, External App..."

In [24]:
hospicdproc_df.icd_code.nunique()

12575

In [15]:
poe_df

,hadm_id,offset,poe_id,order_type,order_subtype,transaction_type,field_name,field_value
0,28919637,2.136204,10029057-106,IV therapy,IV fluids,New,None,None
1,28919637,0.540556,10029057-57,Medications,None,New,None,None
2,24064303,1.690799,10029074-63,Medications,None,New,None,None
3,20347783,0.975567,10029206-49,Medications,None,New,None,None
4,20347783,2.650567,10029206-67,Medications,None,New,None,None
...,...,...,...,...,...,...,...,...
40523848,22343816,0.104792,10028480-450,Nutrition,Diet Order,New,None,None
40523849,24169188,3.068090,10028480-804,Lab,None,New,None,None
40523850,24169188,4.983426,10028480-817,Medications,None,Change,None,None
40523851,27911538,-0.235556,10028480-912,Lab,None,New,None,None
40523852,27911538,1.729734,10028480-994,Lab,None,New,None,None

In [20]:
poe_df.order_subtype.unique()

array(['IV fluids', None, 'Activity', 'Vitals/Monitoring', 'Admit',
       'Other', 'ECG', 'Telemetry', 'Code status', 'MRI',
       'Red Cell Product Order', 'Discharge', 'Oxygen Therapy',
       'Speech/Swallowing', 'IV access', 'General Xray', 'Tubes/Drains',
       'Blood tests', 'CT Scan', 'Mechanical Ventilation', 'Diet Order',
       'IV access request', 'Noninvasive Vascular',
       'Hemodynamic monitoring', 'NPO/Diet for Procedure', 'Postop',
       'Therapeutic devices/DVT/Prophylaxis',
       'Discharge Followup Appointment', 'Frozen Plasma Product Order',
       'Wound Care', 'Spiritual Care/Chaplaincy',
       'Premixed Central Standard', 'Precautions', 'CPAP for OSA',
       'Ultrasound', 'Platelet Product Order', 'Occupational Therapy',
       'Tubefeeding Order', 'Nutrition consult', 'Physical Therapy',
       'Echo', 'PO fluid restriction', 'Restraints', 'Hemodialysis',
       'Stress Echo', 'Transfer', 'Extubate', 'Hematology-Oncology',
       'Palliative Care', 'Social Work', 'Interventional Radiology',
       'Infectious Disease', 'Nuclear Med', 'ETT (Non-Imaging)',
       'Interventional Neuro', 'Calorie count', 'Central TPN', 'Dialysis',
       'TCD', 'Neurology', 'Angio', 'Fetal monitoring', 'EEG',
       'Radiology OK to use line',
       'Cross-Sectional Interventional Radiology', 'Holter Monitor',
       'BiPAP', 'Cryoprecipitate Product Order', 'Nursing',
       'Special Procedures', 'Gastroenterology',
       'Palliative Care/Ethics Support', 'Cardiology (General)',
       'Hepatology', 'Diabetes Consult',
       'Hepatopancreaticobiliary Surgery', 'Pulmonary', 'CMFM',
       'Addiction', 'Premixed Peripheral Standard',
       'Interventional Pulmonology', 'Intra-cranial monitoring',
       'Orthopedics', 'Podiatry', 'Acute Care Surgery', 'Nephrology',
       'Pulmonary Function Test', 'Plastic Surgery', 'Derivative Order',
       'Urology', 'ERCP/Advanced Endoscopy',
       '3CG or Radiology Tip confirmation OK to use line', 'Psychiatry',
       'Thoracic Surgery', 'Dermatology', 'Rheumatology', 'CSF', 'PPN',
       'Anesthesia (Chronic Pain Service)', 'Gerontology', 'EMG',
       'Transplant Surgery', 'Medicine', 'Cardiology (Vascular Medicine)',
       'Cardiac monitoring', 'Cardiology (EP)', 'Neurosurgery',
       'Medication', 'Vascular', 'Otolaryngology (ENT)', 'Hand Surgery',
       'Endocrinology', 'Suspected VAP Pathway', 'Colorectal Surgery',
       'Ethics', 'Evoked Potential', 'Wound/Ostomy',
       'Oral Maxillofacial Surgery (OMFS)', 'Cardiology (Structural)',
       'Ob/Gyn', 'Cardiac Cath', 'Trauma', 'Lactation',
       'Use Of Patient-Provided Equipment', 'Minimally Invasive Surgery',
       'Pheresis', 'Surgical Oncology',
       'NICU and non-routine Nursery Diet Order', 'Drug Monitoring',
       'Sleep', 'Urine', 'Blood Gases/Whole Blood', 'Flushes',
       'Pain Medication/Bowel Regimen'], dtype=object)

In [22]:
## NUMERIC FEATURES
## TODO: add mergers across tables and within-tables.

blood_gas = ['so2', 'po2', 'pco2', 'fio2', 'fio2_chartevents', 'aado2', 'aado2_calc', 'pao2fio2ratio', 'ph', 'baseexcess', 'bicarbonate', 'totalco2', 'hematocrit', 'hemoglobin', 'carboxyhemoglobin', 'methemoglobin', 'chloride', 'calcium', 'temperature', 'potassium', 'sodium', 'lactate', 'glucose']

blood_chemistry = ['albumin','globulin','total_protein','aniongap','bicarbonate','bun','calcium','chloride','creatinine','glucose','sodium','potassium']

cardiac_markers = ['troponin_t','ntprobnp','ck_mb']

cbc = ['hematocrit','hemoglobin','mch','mchc','mcv','platelet','rbc','rdw','rdwsd','wbc']

vital_signs = ['heart_rate','sbp','dbp','mbp','sbp_ni','dbp_ni','mbp_ni','resp_rate','temperature','spo2','glucose']

# Glasgow Coma Scale, a measure of neurological function
coma_signs = ['gcs','gcs_motor','gcs_verbal','gcs_eyes','gcs_unable']

renal_out = ['uo_rt_6hr', 'uo_rt_12hr', 'uo_rt_24hr']

renal_creat = ['creat']

renal_aki = ['aki_stage_smoothed']

### Numeric Feature Tables

In [4]:
agg_interval = 'hour'
# For higher resolution binning see: 
# https://stackoverflow.com/questions/7299342/what-is-the-fastest-way-to-truncate-timestamps-to-5-minutes-in-postgres

# Time-binning can be specific for each table

In [5]:
blood_gas_query = f"""
select hadm_id,
       {', '.join(map(lambda e: f'avg(bg.{e}) as {e}', blood_gas))},
       date_trunc('{agg_interval}', bg.charttime) time_bin
from mimiciv_derived.bg as bg
group by hadm_id, time_bin
"""

bg_df = pd.read_sql_query(blood_gas_query,con)

In [6]:
blood_chemistry_query = f"""
select hadm_id,
       {', '.join(map(lambda e: f'avg(ch.{e}) as {e}', blood_chemistry))},
       date_trunc('{agg_interval}', ch.charttime) time_bin
from mimiciv_derived.chemistry as ch
group by hadm_id, time_bin
"""

ch_df = pd.read_sql_query(blood_chemistry_query,con)

In [7]:
cardiac_marker_query = \
f"""
WITH trop AS
(
    SELECT specimen_id, MAX(valuenum) AS troponin_t
    FROM mimiciv_hosp.labevents
    WHERE itemid = 51003
    GROUP BY specimen_id
)
SELECT
    c.hadm_id
    , date_trunc('{agg_interval}', c.charttime) time_bin
    , avg(trop.troponin_t) as troponin_t
    , avg(c.ntprobnp) as ntprobnp
    , avg(c.ck_mb) as ck_mb
FROM mimiciv_hosp.admissions a
LEFT JOIN mimiciv_derived.cardiac_marker c
  ON a.hadm_id = c.hadm_id
LEFT JOIN trop
  ON c.specimen_id = trop.specimen_id
GROUP BY c.hadm_id, time_bin
"""

cardiac_df = pd.read_sql_query(cardiac_marker_query,con)

In [8]:
temp_query = \
f"""
WITH temp_t AS (
    SELECT c.hadm_id
        , c.charttime
        , CASE
            WHEN LOWER(c.valueuom)  like '%°f%' THEN (c.valuenum - 32) / 1.8
                ELSE c.valuenum
          END AS temperature
    FROM mimiciv_hosp.admissions a
    INNER JOIN mimiciv_icu.chartevents c
      ON a.hadm_id = c.hadm_id
    INNER JOIN mimiciv_icu.d_items di
      ON c.itemid = di.itemid
    AND c.itemid IN
    (
    227632, -- Arctic Sun/Alsius Temp #1 C
    227634, -- Arctic Sun/Alsius Temp #2 C
    223761 -- Temperature Fahrenheit
    )
    AND valuenum > 10 AND valuenum < 120
)
SELECT temp_t.hadm_id
     , AVG(temp_t.temperature) temperature
     , DATE_TRUNC('{agg_interval}', temp_t.charttime) time_bin
FROM temp_t
GROUP BY temp_t.hadm_id, time_bin
"""
temp_df = pd.read_sql_query(temp_query,con)

In [11]:
cbc_query = f"""
select hadm_id,
       {', '.join(map(lambda e: f'avg(cbc.{e}) as {e}', cbc))},
       date_trunc('{agg_interval}', cbc.charttime) time_bin
from mimiciv_derived.complete_blood_count as cbc
group by hadm_id, time_bin
"""
cbc_df = pd.read_sql_query(cbc_query, con)

In [15]:
vital_query = f"""
select icu.hadm_id,
       {', '.join(map(lambda e: f'avg(v.{e}) as {e}', vital_signs))},
       date_trunc('{agg_interval}', v.charttime) time_bin
from mimiciv_derived.vitalsign as v
inner join mimiciv_icu.icustays as icu
 on icu.stay_id = v.stay_id
group by icu.hadm_id, time_bin
"""
vital_df = pd.read_sql_query(vital_query, con)

In [18]:
gcs_query = f"""
select icu.hadm_id,
       {', '.join(map(lambda e: f'avg(gcs.{e}) as {e}', coma_signs))},
       date_trunc('{agg_interval}', gcs.charttime) time_bin
from mimiciv_derived.gcs as gcs
inner join mimiciv_icu.icustays as icu
 on icu.stay_id = gcs.stay_id
group by icu.hadm_id, time_bin
"""
gcs_df = pd.read_sql_query(gcs_query, con)

In [23]:
renal_out_query = f"""
select icu.hadm_id,
       {', '.join(map(lambda e: f'avg(r.{e}) as {e}', renal_out))},
       date_trunc('{agg_interval}', r.charttime) time_bin
from mimiciv_derived.kdigo_uo as r
inner join mimiciv_icu.icustays as icu
 on icu.stay_id = r.stay_id
group by icu.hadm_id, time_bin
"""

renal_creat_query = f"""
select icu.hadm_id,
       {', '.join(map(lambda e: f'avg(r.{e}) as {e}', renal_creat))},
       date_trunc('{agg_interval}', r.charttime) time_bin
from mimiciv_derived.kdigo_creatinine as r
inner join mimiciv_icu.icustays as icu
 on icu.stay_id = r.stay_id
group by icu.hadm_id, time_bin
"""

renal_aki_query = f"""
select icu.hadm_id,
       {', '.join(map(lambda e: f'avg(r.{e}) as {e}', renal_aki))},
       date_trunc('{agg_interval}', r.charttime) time_bin
from mimiciv_derived.kdigo_stages as r
inner join mimiciv_icu.icustays as icu
 on icu.stay_id = r.stay_id
group by icu.hadm_id, time_bin
"""

renal_out_df = pd.read_sql_query(renal_out_query, con)
renal_creat_df = pd.read_sql_query(renal_creat_query, con)
renal_aki_df = pd.read_sql_query(renal_aki_query, con)

In [21]:

bg_df.to_csv('bg.csv.gz', compression='gzip')
ch_df.to_csv('ch.csv.gz', compression='gzip')
cardiac_df.to_csv('cardiac.csv.gz', compression='gzip')
temp_df.to_csv('temp.csv.gz', compression='gzip')
cbc_df.to_csv('cbc.csv.gz', compression='gzip')
vital_df.to_csv('vital.csv.gz', compression='gzip')
gcs_df.to_csv('gcs.csv.gz', compression='gzip')

In [24]:
renal_out_df.to_csv('renal_out.csv.gz', compression='gzip')
renal_creat_df.to_csv('renal_creat.csv.gz', compression='gzip')
renal_aki_df.to_csv('renal_aki.csv.gz', compression='gzip')